<!DOCTYPE html>  
<html>  
   <head>  
      <title>The Materialize Example</title>  
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>  
    
   <body>
    <div class="row">
        <div class="col s8 offset-s2">
            <form action="/students/enroll-student/" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="Enroll">
            </form>
        </div>
    </div>
   </body>  
</html>  